/* import */

@import url('_partials/common.css');
@import url('_partials/component.css');

/* header */

header {
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 12px;
    z-index: 99;
}

#small-logo {
    width: 30px;
}

header .input-group-text,
header .form-control {
    background-color: #e5e5e5;
}

header i {
    padding-left: 25px;
}

header .dropdown-toggle {
    text-decoration: none;
    color: #ff8f00;
}

header .dropdown-toggle::after {
    display: none;
}

/* main */
/* sidebar */

main .sidebar {
    width: 150px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-position-y: -2%;
    margin-top: 70px;
    height: calc(100vh - 70px);
    padding: 35px 24px;
}

main .sidebar li {
    padding-bottom: 22px;
}

.dr-main-right {
    margin-top: 70px;
    overflow-y: auto;
    height: calc(100vh - 70px);
}

/* top-bar */

.dr-top-bar {
    padding-top: 25px;
}

.dr-top-bar .dr-add {
    margin-right: 20px;
}

.dr-main-right .offcanvas {
    width: 100%;
}

.dr-badge-bg-opacity {
    font-size: .75rem;
}

.dr-top-bar .fa-angles-right {
    font-size: .75rem;
}

.dr-top-bar .col-12 {
    margin-bottom: 20px;
}

main .dr-main-bottom table img {
    width: 30px;
    margin-right: 12px;
}

main .dr-main-bottom table {
    font-size: 13px;
}

main .dr-main-bottom table button {
    font-size: .8125rem
}

@media screen and (max-width:768px) {
    main .sidebar {
        width: fit-content;
    }
}

@media screen and (min-width:768px) {
    .dr-main-right .offcanvas {
        width: 40%;
    }
}