/* import */

@import url('_partials/common.css');

/* header */

header {
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 12px;
    z-index: 99;
}

#small-logo {
    width: 30px;
}

header .input-group-text,
header .form-control {
    background-color: #e5e5e5;
}

header i {
    padding-left: 25px;
}

header .dropdown-toggle {
    text-decoration: none;
    color: #ff8f00;
}

header .dropdown-toggle::after {
    display: none;
}

/* main */
/* sidebar */

main .sidebar {
    width: 150px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-position-y: -2%;
    margin-top: 70px;
    height: calc(100vh - 70px);
    padding: 35px 24px;
}

main .sidebar li {
    padding-bottom: 22px;
}

@media screen and (max-width:768px) {
    main .sidebar {
        width: fit-content;
    }
}